<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar evento - THX HUB</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/criarEventoStyle.css" /></head>
<body>

    <header>
        <h1>Criar Evento</h1>
        <a href="/eventos" class="btn-back">← Voltar</a>
    </header>

    <form action="/eventos" method="post">
        <label for="titulo" id="title-input">Título</label>
        <input type="text" id="title" name="titulo" required>

        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="description" rows="3"></textarea>

        <label for="local">Local</label>
        <input type="text" id="local" name="local" required>

        <label for="data_hora_inicio">Data/Hora Início</label>
        <input type="datetime-local" name="data_hora_inicio" id="datehourstart">

        <label for="data_hora_fim">Data/Hora Final</label>
        <input type="datetime-local" name="data_hora_fim" id="datehourend">

        <label for="limite_convidados">Limite de Convidados</label>
        <input type="number" id="limite_convidados" name="limite_convidados" min="1" required>

        <button type="submit">Criar Evento</button>
    </form>
</body>
</html>